@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  background-color: #fffbf0; /* Cor exata do fundo do Banner.jpeg */
  font-family: system-ui, -apple-system, sans-serif;
}